{% extends 'layouts/main.html' %}
{% block body %}
{% from 'macros/formhelpers.html' import render_field %}
<div class="mainPage">
    {% include 'includes/_menu.html' %}
    <div class="rightContainer newP infoGeneral">
        <h1 class="newPersonal">Kullanıcı Nufüs Bilgileri Düzenleme</h1>
        <a class="first" href="{{ url_for('users.show_user_population_info', user_id=user.id)}}">Geri</a>
        <form method="POST" action="">
            <div class="form-group">
                {{ render_field(form.neighborhoodNvillage, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.population_administration, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.c_no, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.id_card_no, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.family_queue_no, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.queue_no, class_="form-control") }}
            </div>
            <p>
                <input type="submit" class="btn btn-primary" value="Submit"/>
            </p>
        </form>
    </div>
</div>

{% endblock %}