<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Bi Usis</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    </head>
    <body>
        <div class="container">
                <img src="{{ url_for('static', filename='images/university.jpeg') }}">
            {% include 'includes/_messages.html' %}
            {% block body %}
            {% endblock %}
        </div>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    </body>
</html>
