[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
passlib = "*"
Flask-WTF = "*"
Flask-SQLAlchemy = "*"
Flask-MySQLdb = "*"


[dev-packages]

pylint = "*"
